<!doctype html>
<html class="no-js" lang="en"><!-- specify language: http://www.w3.org/TR/html401/struct/dirlang.html#h-8.1 -->
<head prefix="og: http://ogp.me/ns#"><!-- enable Open Graph: http://ogp.me/ -->

    <!-- charset & http-equiv may be set via response header: https://github.com/h5bp/html5-boilerplate/blob/master/doc/html.md#x-ua-compatible -->
    <!--metatags added by webpack. see build/utils common  -->
    <!-- optionally add more Open Graph metadata: http://ogp.me/#metadata -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- Enable styling differentation between JavaScript and non-JavaScript enabled browsers -->
    <script>(function (e) { e.className = e.className.replace('no-js', 'js'); }(document.documentElement));</script>

    <!-- Include stylesheets here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
<style media="screen">
  .a11y-sr-only,
  .a11y-kb-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
  }

  .a11y-kb-only:active,
  .a11y-kb-only:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
  }
 </style>
</head>
<body>
<%= require('./html_parts/header.html?raw') %>
  <main id="content" role="main" tabindex="-1">
  <!-- tabindex fixes focus issue, alternatively use generic script: http://www.nczonline.net/blog/2013/01/15/fixing-skip-to-content-links/ -->
  <!-- @todo: add nav[role="navigation"] as TOC -->
  <p class="intro">WebMode transpiles modern JavaScript with Babel and loads styles from Sass/PostCSS. It's opinionated yet minimalist, adding no frameworks or libraries. Mode also copies static assets such as images and <a href="static/documents/mode.pdf">documents</a> with a dedicated /static directory.
    
    <article class="block">
      <h2>How to use</h2>
      <p><code>npm start</code> to run in dev mode.
      <br><code>npm run build</code> for a production build into a /dist directory, with a main.css stylesheet.
     </article>
   </main>
<%= require('./html_parts/footer.html?raw') %>
</body>
</html>
