<!doctype html>
<html class="no-js" lang="en"><!-- specify language: http://www.w3.org/TR/html401/struct/dirlang.html#h-8.1 -->
<head prefix="og: http://ogp.me/ns#"><!-- enable Open Graph: http://ogp.me/ -->

    <!-- charset & http-equiv may be set via response header: https://github.com/h5bp/html5-boilerplate/blob/master/doc/html.md#x-ua-compatible -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Enable styling differentation between JavaScript and non-JavaScript enabled browsers -->
    <script>(function (e) { e.className = e.className.replace('no-js', 'js'); }(document.documentElement));</script>

    <!-- Include stylesheets here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
<style media="screen">
  .a11y-sr-only,
  .a11y-kb-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
  }

  .a11y-kb-only:active,
  .a11y-kb-only:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
  }
 </style>
</head>
<body>
<%= require('./html_parts/header.html?raw') %>
  <main id="content" role="main" tabindex="-1">
  <!-- tabindex fixes focus issue, alternatively use generic script: http://www.nczonline.net/blog/2013/01/15/fixing-skip-to-content-links/ -->
  <!-- @todo: add nav[role="navigation"] as TOC -->
    <p class="intro">This is a test page, to demonstrate how a separate html page can be added using the HTML webpack plugin.
    </p>
    <article class="block">
    </article>
  </main>
  <%= require('./html_parts/footer.html?raw') %>
</body>
</html>
    
